<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubleview.jeebase.system.dao.DictDao">

	<!--字典列，共查询重用-->
	<sql id="dictColumns">
		d.id AS "id",
		d.label AS "label",
		d.value AS "value",
		d.type AS "type",
		d.description AS "description",
		d.sort AS "sort",
		d.remarks AS "remarks",
		d.create_by AS "createBy.id",
		d.create_time AS "createTime",
		d.update_by AS "d.updateBy.id",
		d.update_time AS "updateTime",
		d.del_status AS "delStatus"
	</sql>

	<!--字典关联，供查询重用-->
	<sql id="dictJoins">
		FROM sys_dict d
	</sql>

	<!--根据主键获取实体对象-->
	<select id="get" resultType="Dict">
		SELECT
		<include refid="dictColumns"/>
		<include refid="dictJoins"/>
		WHERE id = #{id}
	</select>

	<!--条件查询实体对象列表-->
	<select id="findList" resultType="Dict">
		SELECT
		<include refid="dictColumns"/>
		<include refid="dictJoins"/>
		<where>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="description != null and description != ''">
				AND description LIKE CONCAT('%', #{description}, '%')
			</if>
			AND del_status = "0"
		</where>
		ORDER BY d.type, d.sort, d.create_time DESC
	</select>
	
	<!--得到所有字典类型-->
	<select id="findTypeList" resultType="string">
		SELECT d.type
		FROM sys_dict d
		WHERE d.del_status = "0"
		GROUP BY type
		ORDER BY type
	</select>

	<!--插入实体对象-->
	<insert id="insert">
		INSERT INTO sys_dict(
			id, 
			value, 
			label, 
			type, 
			description, 
			sort,
			create_by,
			create_date,
			update_by,
			update_time,
			remarks, 
			del_status
		) VALUES (
			#{id}, 
			#{value}, 
			#{label}, 
			#{type}, 
			#{description}, 
			#{sort},
			#{createBy.id},
			#{createTime},
			#{updateBy.id},
			#{updateTime},
			#{remarks}, 
			#{delStatus}
		)
	</insert>

	<!--更新实体对象-->
	<update id="update">
		UPDATE sys_dict SET 
			value = #{value}, 
			label = #{label}, 
			type = #{type}, 
			description = #{description}, 
			sort = #{sort},
			update_by = #{updateBy.id},
			update_time = #{updateTime},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>

	<!--删除实体对象-->
	<update id="delete">
		UPDATE sys_dict SET 
			del_status = #{DELETE}
		WHERE id = #{id}
	</update>
	
</mapper>