<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubleview.jeebase.system.dao.LogDao">

	<!--得到日志列表-->
	<select id="findList" resultType="Log">
		SELECT
		l.id AS "id",
		l.type AS "type",
		l.title AS "title",
		l.remote_ip AS "remoteIp",
		l.user_agent AS "userAgent",
		l.request_uri AS "requestUri",
		l.method AS "method",
		l.params AS "params",
		l.exception AS "exception",
		l.create_by AS "createBy.id",
		l.create_time AS "createTime",
		u.name AS "createBy.name"
		FROM sys_log l
		JOIN sys_user u ON u.id = a.create_by
		<where>
			<if test="beginDate != null">
			   	AND l.create_time gt;= #{beginDate}
			</if>
			<if test="endDate != null">
				AND  l.create_time lt;= #{endDate}
			</if>
			<if test="title != null and title != ''">
				AND l.title LIKE
				CONCAT('%', #{title}, '%')
			</if>
			<if test="createBy != null and createBy.id != null and createBy.id != ''">
				AND l.create_by = #{createBy.id}
			</if>
			<if test="requestUri != null and requestUri != ''">
				AND l.request_uri LIKE
				CONCAT('%', #{requestUri}, '%')
			</if>
			<if test="exception != null and exception != ''">
				AND l.type = #{TYPE_EXCEPTION}
			</if>
		</where>
		ORDER BY l.create_time DESC
	</select>

	<!--插入日志-->
	<insert id="insert">
		INSERT INTO sys_log(
		id,
		type,
		title,
		remote_ip,
		user_agent,
		request_uri,
		method,
		params,
		exception,
		create_by,
		create_time
		) VALUES (
		#{id},
		#{type},
		#{title},
		#{remoteIp},
		#{userAgent},
		#{requestUri},
		#{method},
		#{params},
		#{exception},
		#{createBy.id},
		#{createTime}
		)
	</insert>

</mapper>