<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubleview.jeebase.system.dao.MenuDao">

	<!--菜单列，共查询重用-->
	<sql id="menuColumns">
		m.id AS "id",
		m.name AS "name",
		m.sort AS "sort",
		m.href AS "href",
		m.icon AS "icon",
		m.is_show AS "isShow",
		m.remarks AS "remarks",
		m.create_by AS "createBy.id",
		m.create_time AS "createTime",
		m.update_by AS "updateBy.id",
		m.update_time AS "updateTime",
		m.del_status AS "delStatus",
		m.parent_id AS "parent.id",
		mp.name AS "parent.name"
	</sql>

	<!--菜单关联，供查询重用-->
	<sql id="menuJoins">
		FROM sys_menu m
			LEFT JOIN sys_menu mp ON mp.id = m.parent_id
	</sql>

	<!--根据id获取菜单-->
	<select id="get" resultType="Menu">
		SELECT
		<include refid="menuColumns"/>
		<include refid="menuJoins"/>
		WHERE a.id = #{id}
	</select>

	<!--获取所有菜单-->
	<select id="getList">
		SELECT
		<include refid="menuColumns"/>,
		<include refid="menuJoins"/>
		<where>
			<if test="name != null and name != '' ">
				AND m.name = #{name}
			</if>
			AND m.del_status = "0"
		</where>
		ORDER BY m.create_time
	</select>

	<!--根据用户id获取所有菜单-->
	<select id="getListByUserId" resultType="Menu">
		SELECT DISTINCT
		<include refid="menuColumns"/>
		<include refid="menuJoins"/>
		JOIN sys_role_menu rm ON rm.menu_id = m.id
		JOIN sys_role r ON r.id = rm.role_id
		JOIN sys_user_role ur ON ur.role_id = r.id
		JOIN sys_user u ON u.id = ur.user_id AND u.id = #{userId}
		WHERE m.del_status = "0"
			AND r.del_status = "0"
			AND u.del_status = "0"
		ORDER BY m.create_time
	</select>

	<!--插入菜单-->
	<insert id="insert">
		INSERT INTO sys_menu(
		id,
		name,
		sort,
		href,
		target,
		icon,
		is_show,
		create_by,
		create_time,
		update_by,
		update_time,
		remarks,
		del_status,
		parent_id
		) VALUES (
		#{id},
		#{name},
		#{href},
		#{target},
		#{icon},
		#{sort},
		#{isShow},
		#{permission},
		#{createBy.id},
		#{createTime},
		#{updateBy.id},
		#{updateTime},
		#{remarks},
		#{delStatus},
		#{parent.id}
		)
	</insert>

	<!--更新菜单-->
	<update id="update">
		UPDATE sys_menu SET
		name = #{name},
		sort = #{sort}
		href = #{href},
		target = #{target},
		icon = #{icon},
		is_show = #{isShow},
		create_by = #{createBy.id},
		create_time = #{createTime}
		update_by = #{updateBy.id},
		update_time = #{updateTime},
		remarks = #{remarks},
		parent_id = #{parentId}
		WHERE id = #{id}
	</update>

	<!--删除菜单-->
	<update id="delete">
		UPDATE sys_menu SET
		del_status = #{DELETE}
		WHERE id = #{id}
	</update>

</mapper>