/* Cubic Bezier Transition */
/***
登录页面
***/
/* bg color */
.login {
    background-color: #364150 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .content {
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.login .content h4 {
    color: #555;
}

.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px 0;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.form-icon {
    position: relative;
}

.icon-user, .icon-lock, .icon-grid {
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 15px;
}

.help-block {
    color: #f2233b;
    font-size: 80%;
    margin-left: 10px;
}

.has-error {
    border: 1px solid #f2233b;
}

.has-success {
    border: 1px solid #68b828;
}

.login .content .form-control {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
}

.login .content .form-control:focus {
    background-color: #FFFFE0;
}

.login .content .captcha-field {
    width: 65%;
    display: inline-block;
}

.login .content .form-control:focus, .login .content .form-control:active {
    border: 1px solid #c3ccda;
}

.login .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}

.login .content .form-control:-ms-input-placeholder {
    color: #8290a3;
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8290a3;
}

.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 25px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .form-actions > .btn {
    margin-top: -2px;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
    font-weight: 600;
    padding: 10px 25px !important;
    color: #6c7a8d;
    background-color: #ffffff;
    border: none;
}

.login .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af;
}

.login .content .check {
    color: #8290a3;
}

.login .content .rememberme {
    margin-left: 8px;
}

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

@media (max-width: 440px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        width: 280px;
        margin-top: 10px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}



